%a
  %span.text-label MI Projekt
  = icon "&#xe088;"
%ul.user-summary
  %li
    .summary
      .user-pic
        User access level?

      .basic-details
        %h4.no-margin MI Projekt
        %h5.no-margin Administrator
        %small Hamburg

      .clearfix
  %li
    %button.btn.btn-xs.btn-danger.pull-right
      Logout
    .clearfix


