%a
  %span.text-label Mr.John
  %span.icon-lock
%ul.user-summary
  %li
    .summary
      .user-pic
        User access level?

      .basic-details
        %h4.no-margin Johnny
        %h5.no-margin UX Designer
        %small Blabla, Hamburg

      .clearfix
  %li
    %button.btn.btn-xs.btn-danger.pull-right
      Logout
    .clearfix


