
.row.page-title
  %h2 Kategorien
.row
  .col-md-3
    %ul.list-group
    - (42...47).each do |i|
      %li.list-group-item
        %input{:type => "checkbox"}
        / = link_to "category" this
        = i
  .col-md-9
    .row
      .widget
        .widget-header
          .title Zeitraum
        .widget-body
          #timeslider
          %input{:type => :range, :min => 4, :max => 30, :value => 10, "onChange" => "window.timeline.sliderUpdate(this)"}
    .row
      .widget
        .widget-header
          .title Streamgraph
        .widget-body
          %button.btn{"onClick" => "window.streamgraph.toggleLive(this)"}
            %span.icon-eye
            start Live
          %button.btn{"onClick" => "window.streamgraph.toggleLive(this)"}
            %span.icon-eye-blocked
            stop Live
          #streamgraph
    .row
      .widget
        .widget-header
          .title Karte
        .widget-body
          #map
.row
  .col-md-6
    #timeline
  .col-md-6
    .golden-ratio
      .dummy
      .scroll-container
        #tweets
