
.row.page-title
  %h2 Dashboard

.row
  .col-md-12
    .selected-tweet
      %ul.chats
      .widget
        .controls.widget-body
          .btn-group
            %button.btn.btn-danger.dropdown-toggle{:type => "button", :"data-toggle" => "dropdown"}
              Rekategorisieren
              %span.caret
            %ul.dropdown-menu
              %li
                %a Help Request
                %a Support Request
                %a usw

.row
  .col-md-6
    .widget
      .widget-header
        .title
          Timeline
      .widget-body
        #timeline


  .col-md-6
    .widget
      .widget-header
        .title
          Map
      .widget-body
        #map

.row
  .col-md-3
    .widget
      .widget-header
        .title
          Selection Settings
      .widget-body
        #selection_category
        #selection_timerange
        
  .col-md-9
    .widget
      .widget-header
        .title
          Tweets
      .widget-body
        %ul#tweets.chats.scroll-container

.row
  .col-md-5
    .widget
      .widget-header
        .title
          Hash-Tags
      .widget-body
        #hashCloud
