
.row.page-title
  %h2 Dashboard

.row
  .col-md-6
    #timeline
  .col-md-6
    #map

.row
  .col-md-6
    .widget
      .widget-header
        .title
          Tweets
      .widget-body
        %ul#tweets.chats.scroll-container
